Repository ansys/pytwin, pull requests merged in 2023-04, with the labels that each got.

#87 Bump 0.4.dev0 version
  README.rst
  pyproject.toml
  tests/test_metadata.py
Labels: testing, maintenance

#89 Doc: Add the sphinx format
  doc/source/conf.py
  requirements/requirements_doc.txt
Labels: documentation, dependencies

#90 Doc: add actions v4
  .github/workflows/ci.yml
  doc/source/conf.py
  requirements/requirements_doc.txt
  tests/examples/test_examples.py
Labels: documentation, maintenance, dependencies
