Repository ansys/pytwin, pull requests merged in 2023-02, with the labels that each got.

#65 Fix issue with PyCharm debugging when pytest --cov is enabled
  pyproject.toml
Labels: maintenance

#66 Add support for python 3.7
  .github/workflows/ci.yml
  pyproject.toml
  requirements/requirements_dev.txt
  src/ansys/pytwin/__init__.py
  src/ansys/pytwin/settings.py
Labels: maintenance, dependencies

#68 Supporting Py3.11 again
  .github/workflows/ci.yml
  README.rst
  pyproject.toml
Labels: maintenance

#69 Update __init__.py for logging info exposure
  src/ansys/pytwin/__init__.py
Labels: bug

#70 Fix/get pytwin logger exposure
  src/ansys/pytwin/__init__.py
Labels: bug

#71 Fix/doc_strings
  src/ansys/pytwin/evaluate/twin_model.py
Labels: bug

#74 Bump version to 0.3.dev0
  pyproject.toml
  tests/test_metadata.py
Labels: testing, maintenance

#75 fix workflow example code
  doc/source/api/evaluate/index.rst
  doc/source/api/sdk/index.rst
Labels: documentation

#76 DOC: Update README.rst
  README.rst
Labels: documentation

#77 DOC: Update documentation folder
  doc/.vale.ini
  doc/source/api/evaluate/index.rst
  doc/source/api/examples/index.rst
  doc/source/api/index.rst
  doc/source/api/logging/index.rst
  doc/source/api/sdk/index.rst
  doc/source/contributing.rst
  doc/source/getting_started/index.rst
  doc/source/index.rst
  doc/source/user_guide/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: documentation

#78 DOC: Update examples documentation
  examples/README.txt
  examples/evaluate/00-coupledClutches.py
  examples/evaluate/01-electricRange.py
  examples/evaluate/02-heatExchangerRS.py
  examples/evaluate/03-scalarDROM.py
  examples/evaluate/04-TBROM_images.py
  examples/evaluate/05-TBROM_coSimulation_pyMAPDL.py
  examples/evaluate/README.txt
Labels: documentation

#80 DOC: Update documentation of settings and downloads modules
  src/ansys/pytwin/examples/downloads.py
  src/ansys/pytwin/settings.py
  tests/test_settings.py
Labels: documentation, testing

#81 MAINT: Remove tests and doc dependencies from project.toml
  pyproject.toml
  src/ansys/pytwin/evaluate/saved_state_registry.py
Labels: maintenance

#79 DOC: Update evaluate package documentation
  src/ansys/pytwin/evaluate/model.py
  src/ansys/pytwin/evaluate/saved_state_registry.py
  src/ansys/pytwin/evaluate/twin_model.py
  tests/evaluate/test_savedstate_registry.py
  tests/evaluate/test_twin_model.py
Labels: documentation
