Repository ansys/pytwin, pull requests merged in 2023-07, with the labels that each got.

#96 Feat/tbrom 241 public api refactoring
  examples/evaluate/06-TBROM_input_field.py
  src/ansys/pytwin/evaluate/tbrom.py
  src/ansys/pytwin/evaluate/twin_model.py
  tests/evaluate/test_savedstate_registry.py
  tests/evaluate/test_tbrom.py
  tests/evaluate/test_twin_model.py
  tests/test_settings.py
  tests/twin_runtime/test_twin_runtime_core.py
Labels: enhancement, testing

#97 Add field inputs and outputs to batch evaluation
  examples/evaluate/06-TBROM_input_field.py
  src/ansys/pytwin/evaluate/twin_model.py
  tests/evaluate/test_tbrom.py
Labels: enhancement

#99 Fix issue when tbrom settings.json file has no namedselection entry
  src/ansys/pytwin/evaluate/tbrom.py
  tests/evaluate/data/twin_no_ns.twin
  tests/evaluate/test_tbrom.py
Labels: bug

#100 Doc/fix
  doc/source/_static/TBROM_input_field.png
  doc/source/api/index.rst
  doc/source/getting_started/index.rst
  doc/source/index.rst
  examples/evaluate/06-TBROM_input_field.py
  examples/evaluate/README.txt
  requirements/requirements_doc.txt
Labels: documentation, dependencies

#101 Fix/tbrom updates
  doc/source/_static/point_generation.png
  doc/source/_static/snapshot_generation.png
  doc/source/_static/snapshot_projection.png
  examples/evaluate/06-TBROM_input_field.py
  src/ansys/pytwin/evaluate/twin_model.py
Labels: bug, documentation
