Repository ansys/pytwin, pull requests merged in 2023-01, with the labels that each got.

#52 Add blacken-docs to pre-commit.
  .pre-commit-config.yaml
  doc/source/api/evaluate/index.rst
  doc/source/api/sdk/index.rst
  doc/source/conf.py
  doc/source/user_guide/index.rst
  src/ansys/pytwin/evaluate/twin_model.py
Labels: documentation, maintenance

#53 Update README.rst
  README.rst
Labels: documentation

#54 Fix the PyPI badge.
  README.rst
Labels: maintenance

#56 Supported Python versions logo
  README.rst
Labels: maintenance

#57 Implementing pre-commit.ci
  .github/workflows/ci.yml
  README.rst
Labels: maintenance

#61 Add coverage to pytwin
  .github/workflows/ci.yml
  codecov.yml
  pyproject.toml
Labels: maintenance

#60 fixing logging level and option issues
  src/ansys/pytwin/evaluate/twin_model.py
  src/ansys/pytwin/settings.py
  tests/evaluate/test_twin_model_logging.py
  tests/test_settings.py
Labels: bug, testing

#62 Doc/update
  doc/source/_static/ansys_dt.png
  doc/source/api/examples/index.rst
  doc/source/api/index.rst
  src/ansys/pytwin/examples/downloads.py
  src/ansys/pytwin/settings.py
Labels: documentation

#63 Use flexible dependencies to numpy and pandas
  pyproject.toml
Labels: maintenance
