Repository ansys/pytwin, pull requests merged in 2024-11, with the labels that each got.

#199 fix: missing EOF line
  CONTRIBUTORS.md
Labels: bug

#209 Add additional TBROM function to combine points and snapshot into single x,y,z,data... array
  examples/02-tbrom_examples/00-TBROM_images.py
  examples/02-tbrom_examples/01-TBROM_dataTransfer_pyMAPDL.py
  src/ansys/pytwin/__init__.py
  src/ansys/pytwin/evaluate/tbrom.py
  tests/evaluate/test_tbrom.py
Labels: enhancement

#206 Doc/example dogbone
  doc/source/_static/TBROM_FEA_static_structural_optimization.png
  doc/source/_static/TBROM_FEA_static_structural_optimization_postPro.png
  examples/02-tbrom_examples/05-TBROM_FEA_mesh_based_visualization.py
  examples/02-tbrom_examples/06-TBROM_FEA_static_structural_optimization.py
Labels: documentation

#210 Fixed issue with forced download of files not clearing old file.
  src/ansys/pytwin/examples/downloads.py
  tests/examples/test_downloads.py
Labels: bug

#211 Fix reference link, clarify DoE, add stress plot
  doc/source/_static/TBROM_FEA_static_structural_optimization_postPro.png
  doc/source/_static/TBROM_FEA_static_structural_optimization_postPro_stress.png
  examples/02-tbrom_examples/06-TBROM_FEA_static_structural_optimization.py
Labels: bug, documentation
