Repository ansys/pytwin, pull requests merged in 2024-10, with the labels that each got.

#172 feat: add poetry.lock file and update the files with pyansys guidelines
  .github/dependabot.yml
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  AUTHORS
  CONTRIBUTORS.md
  doc/source/conf.py
  doc/styles/config/vocabularies/ANSYS/accept.txt
  poetry.lock
  pyproject.toml
  requirements/requirements_build.txt
  requirements/requirements_dev.txt
  requirements/requirements_doc.txt
  requirements/requirements_tests.txt
  tox.ini
Labels: bug, documentation, maintenance, dependencies

#183 fix: add license headers to python files
  .pre-commit-config.yaml
  LICENSE
  examples/01-twin_examples/00-coupledClutches.py
  examples/01-twin_examples/01-electricRange.py
  examples/01-twin_examples/02-heatExchangerRS.py
  examples/01-twin_examples/03-scalarDROM.py
  examples/02-tbrom_examples/00-TBROM_images.py
  examples/02-tbrom_examples/01-TBROM_dataTransfer_pyMAPDL.py
  examples/02-tbrom_examples/02-TBROM_input_field.py
  examples/02-tbrom_examples/03-TBROM_input_numpy_field.py
  examples/02-tbrom_examples/04-TBROM_CFD_mesh_based_visualization.py
  examples/02-tbrom_examples/05-TBROM_FEA_mesh_based_visualization.py
  src/ansys/pytwin/__init__.py
  src/ansys/pytwin/evaluate/__init__.py
  src/ansys/pytwin/evaluate/model.py
  src/ansys/pytwin/evaluate/saved_state_registry.py
  src/ansys/pytwin/evaluate/tbrom.py
  src/ansys/pytwin/evaluate/twin_model.py
  src/ansys/pytwin/examples/__init__.py
  src/ansys/pytwin/examples/downloads.py
  src/ansys/pytwin/settings.py
  tests/__init__.py
  tests/evaluate/__init__.py
  tests/evaluate/test_model.py
  tests/evaluate/test_savedstate_registry.py
  tests/evaluate/test_tbrom.py
  tests/evaluate/test_twin_model.py
  tests/evaluate/test_twin_model_finalizer.py
  tests/evaluate/test_twin_model_logging.py
  tests/examples/__init__.py
  tests/examples/test_downloads.py
  tests/examples/test_examples.py
  tests/test_metadata.py
  tests/test_settings.py
  tests/twin_runtime/__init__.py
  tests/twin_runtime/test_twin_runtime_core.py
  tests/twin_runtime/test_twin_runtime_error.py
  tests/utilities.py
Labels: bug, testing

#180 Maint/drop python 3.9
  doc/source/getting_started/index.rst
  poetry.lock
  pyproject.toml
Labels: documentation, maintenance, dependencies

#185 Doc/new example
  .github/workflows/ci.yml
  doc/source/_static/TBROM_parametric_field_history.png
  examples/00-twin_creation/00-TBROM_Twin_creation_evaluation.py
  examples/00-twin_creation/README.txt
  examples/02-tbrom_examples/04-TBROM_CFD_mesh_based_visualization.py
  examples/02-tbrom_examples/05-TBROM_FEA_mesh_based_visualization.py
  poetry.lock
  pyproject.toml
  src/ansys/pytwin/evaluate/twin_model.py
Labels: documentation, maintenance, dependencies

#186 MAINT : update actions v8
  .github/workflows/ci.yml
Labels: maintenance

#198 Update FEA plot with deformed mesh image for doc
  doc/source/_static/TBROM_FEA_mesh_projection.png
Labels: bug, documentation
