Repository ansys/pytwin, pull requests merged in 2025-10, with the labels that each got.

#362 Enable Check actions security action
  .github/workflows/ci.yml
  .github/workflows/label.yml
Labels: maintenance

#363 Fix deploy documentation permissions issues
  .github/workflows/ci.yml
Labels: maintenance

#364 ci: release to PyPI with trusted publisher
  .github/workflows/ci.yml
Labels: maintenance

#372 Adding TwinModel print_model_info
  examples/01-twin_examples/00-coupledClutches.py
  examples/02-tbrom_examples/02-TBROM_input_field.py
  examples/02-tbrom_examples/07-TBROM_parametric_field_history.py
  src/ansys/pytwin/evaluate/twin_model.py
  tests/evaluate/test_tbrom.py
Labels: enhancement

#373 fix: removing artifacts
  .github/workflows/ci.yml
Labels: bug, maintenance
