Repository ansys/pytwin, pull requests merged in 2025-04, with the labels that each got.

#258 feat: new graphics target
  .github/workflows/ci.yml
  poetry.lock
  pyproject.toml
  src/ansys/pytwin/decorators.py
  src/ansys/pytwin/evaluate/tbrom.py
  src/ansys/pytwin/evaluate/twin_model.py
  tox.ini
Labels: enhancement, maintenance, dependencies

#255 Add missing doc for `snapshot_to_array` and clean up docstrings
  doc/source/api/evaluate/index.rst
  doc/source/api/examples/index.rst
  doc/source/api/index.rst
  doc/source/api/sdk/index.rst
  src/ansys/pytwin/evaluate/twin_model.py
  src/ansys/pytwin/settings.py
  src/ansys/pytwin/twin_runtime/twin_runtime_core.py
Labels: bug, documentation

#263 Fix issue 260
  src/ansys/pytwin/evaluate/twin_model.py
Labels: bug
