Repository ansys/pytwin, pull requests merged in 2025-05, with the labels that each got.

#274 Feat/support python313
  .github/workflows/ci.yml
  doc/source/getting_started/index.rst
  examples/02-tbrom_examples/00-TBROM_images.py
  poetry.lock
  pyproject.toml
  tox.ini
Labels: documentation, enhancement, maintenance, dependencies

#280 Function to compute combined stresses and strains
  doc/source/_static/TBROM_FEA_static_structural_optimization_postPro.png
  doc/source/_static/TBROM_FEA_static_structural_optimization_postPro_stress.png
  doc/source/api/examples/index.rst
  examples/02-tbrom_examples/06-TBROM_FEA_static_structural_optimization.py
  src/ansys/pytwin/__init__.py
  src/ansys/pytwin/evaluate/tbrom.py
  tests/evaluate/test_tbrom.py
Labels: documentation, enhancement

#281 Added post-processing module, move stress_strain_component function
  .gitignore
  doc/source/api/examples/index.rst
  doc/source/api/index.rst
  doc/source/api/logging/index.rst
  doc/source/api/postprocessing/index.rst
  src/ansys/pytwin/__init__.py
  src/ansys/pytwin/evaluate/tbrom.py
  src/ansys/pytwin/postprocessing/__init__.py
  src/ansys/pytwin/postprocessing/postprocessing.py
  tests/evaluate/test_tbrom.py
  tests/postprocessing/test_postprocessing.py
Labels: documentation, enhancement

#282 Update package version to 0.10.dev0
  pyproject.toml
  tests/test_metadata.py
Labels: testing, maintenance, dependencies

#284 update sphinx version
  poetry.lock
  pyproject.toml
Labels: maintenance, dependencies
